@keyframes slide {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .background-slider {
    animation: slide 3s ease-in-out infinite;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  